    @media screen and (min-width: 300) , (max-width: 1199px)
    {
        nav li.working::after{
            z-index: 0;
            text-shadow: none;
            background-color: rgb(11, 87, 90);
            color: rgba(0, 139, 139, 0);
            width: 100%;
            height: 10%;
            content: ' artwork ';
            display: block;
            position: absolute;
            margin-top: 0%;
            /*transition: ease 0.35s;*/
            bottom: 1px;
            border-radius: 1px;
            transform: scaleX(1);
        }
    }
    
    @font-face {
        font-family: titleFont;
        src: url(Monoid-Regular.ttf);
    }

    @font-face {
        font-family: linkFonts;
        src: url(FiraCode-SemiBold.ttf);
    }

    @font-face {
        font-family: bodyFont;
        src: url(Compagnon-Medium.otf);
    }

    @font-face {
        font-family: montHeavy;
        src: url(Mont-HeavyDEMO.otf);
    }

    @font-face {
        font-family: montLight;
        src: url(Mont-ExtraLightDEMO.otf);
    }

    @font-face {
        font-family: coolvetica;
        src: url(coolvetica\ rg.ttf);
    }

    @font-face {
        font-family: coolveticaCond;
        src: url(coolvetica\ condensed\ rg.ttf);
    }

    @font-face {
        font-family: young;
        src: url(Young.ttf);
    }   

    a:link,
    a:visited {
        text-decoration: none;
        color: #d1e0db;
    }

    a:hover,
    a:active {
        text-decoration: none;
        color: #92aca7;
        transition: 0.2s;
    }

    a {
        font-family: young;
        text-decoration: underline;
    }

    h1 {
        color: rgb(235, 235, 235);
        font-family: montLight;
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h2 {
        color: #717677;
    }

    h4 {
        color: #d5e9e9;
        font-size: 22px;
    }

    h5 {
        color: darkslategray;
        font-size: 24px;
        text-align: left;
        padding-left: 10px;
    }

    body {
        text-align: center;
        font-family: young;
        background: #1a2224;
        margin: 0%;
    }

    body section {
        background-color: rgb(21, 57, 68);
        
    }

    li {
        text-align: left;
        font-size: 12px;
        color: #dfdfdf;
    }

    .line-height {
        line-height: 15px;
        margin-top: -35px;
    }

    header
    {
       
        background-color: rgb(24, 25, 26);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0%;
        margin-right: 0%;
    }

    p {
        color: #dfdfdf;
        line-height: 30px;
        text-align: left;
        text-indent: 40px;
        margin: 50px;
    }

    section
    {

        padding-top: 1px;
        padding-bottom: 1px;
        margin: 0px;
        /*background-color: lightslategrey;*/
    }

    nav ul
    {
        user-select: none;
        margin: 0;
        padding-bottom: 5px;
        list-style: none;
        padding-top: 5px;
    }

    nav li
    {
       z-index: 2;
        display: inline-block;
        text-shadow: 0px 0px #44c5bd5d;
        font-size: 20px;
        position: relative;
        margin-bottom: 0%;
        margin-right: 20px;
        margin-left: 20px;
    }

    nav span{
        color: rgba(0, 0, 0, 0);

    }

    nav li.working::after{
        z-index: 0;
        text-shadow: none;
        background-color: rgb(47, 114, 114);
        color: rgba(0, 139, 139, 0);
        width: 100%;
        height: 10%;
        content: ' artwork ';
        display: block;
        position: absolute;
        margin-top: 0%;
        transition: ease 0.35s;
        bottom: 1px;
        border-radius: 1px;
        transform: scaleX(0);
    }

    nav li.working:hover:after{
        transform: scaleX(1);
    }

    img {
            border: solid rgb(4, 14, 12) 2px;
            border-radius: 1px;
    }

    /*
    .lefter
    {
        padding-right: 86px;
    }
    */
    .bigger
    {
        font-size: 18px;
        color: #dfdfdf;
    }

    .space_under
    {
        margin-bottom: 25px;
    }

    .other_pg
    {
        background-image: url(scary_bkg.jpg);
    }

    .other_section
    {
        background-color: rgba(23, 39, 39, 0.685);
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .GAME1
    {
        background-color: rgb(4, 13, 15);
        height: 300px;
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .art-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 300px 200);
        row-gap: 100px;
        align-items: auto;

        place-items: center center;

    }

    div.art-grid img{
        background-color: black;
        opacity: 1;
        transform: scale(1);
        transition: ease 0.7s;
    }

    div.art-grid img:hover{
        opacity: 0.6;
        transform: scale(0.9);

        transition: ease 0.5s;
        transition-delay: 0.5s;
    }

    nav li #here:hover::after
    {
        color: rgba(184, 135, 11, 0);
        background: rgba(0, 100, 0, 0);
        content: '';
        width: 10px;
    }
    #here::after
    {
        display: block;
        position: absolute;
        bottom: 1px;
        color: yellow;
        background: rgb(47, 50, 51);
        content: '';
        width: 100%;
        height: 10%;
        border-radius: 1px;
    }

    #here
    {
        color: rgb(97, 97, 97);
        text-decoration: none;
        text-shadow: none;
        text-decoration-color: rgb(35, 35, 36);
    }

    #imadethis
    {
        background-color: rgba(240, 255, 255, 0.678);
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 7px;
        border-width: 1px;
        border-color: #041811;
        border-style: groove;
    }

    /* #gif_section
    {
        display: flex;
        width: 300px;
        height: 100px;
        background-color: #fffffb;
        align-items: center;
    }*/
